/* CSS pro BeFirst */
body {   
font-family:verdana,arial,sans-serif;
margin: 0px;
padding: 0px;
background-color: rgb(76,138,213);
}
h1 {
font-size: 120%;
margin: 0px;
font-weight: normal;
text-align: left;
padding: 10px;
}
h2{
font-size: 100%;
margin: 3px 0 5px;
}
h3{
font-size: 160%;
}
#web{
width: 950px;
overflow: hidden;
margin: 10px auto;
}
#form{
overflow: hidden;
float: left;
width: 700px;
border: solid 3px rgb(42,90,138);
}
.form{
margin: 0 0 10px 0;
width: 700px;
float: left;
overflow: hidden;
}
#pricetab{
	width: 200px;
	padding: 10px;
	text-align: center;
	border: solid 3px rgb(42,90,138);
	float: right;
	/*margin: 0 0 0 30px;*/

	overflow: hidden;
}
table{

padding: 10px 0;

}
table th{
font-size: 70%;
text-align: right;
padding-left: 10px;
}  
table td{
font-size: 70%;
padding-right: 10px;
}  
table tr.border th, table tr.border td{
border-bottom: solid 10px white;
}
input.text{
width: 250px;
height: 20px;
padding: 2px;
}
select{
width: 258px;
height: 30px;
padding: 3px;
}
table span.form-error-message{
	font-size: 130%;
	color: white;
	margin: 0 0 0 5px;
	font-weight: bold;
}
tr.required th{
width: 270px;
}
