@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Manrope", sans-serif;
}

main {
  width: 40%;
  margin: 4em auto;
  padding: 3em;
  border-radius: 2em;
  box-shadow: 0 0 2em #0000004d;
}

h2 {
  text-align: center;
}

.customer-info input[type=text],
.customer-info input[type=email],
.customer-info input[type=tel] {
  width: 100%;
  display: block;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #00000033;
  border-right: none;
  font-size: 1rem;
  transition: border-bottom 200ms ease-in-out;
}

.customer-info input[type=text]:focus,
.customer-info input[type=email]:focus,
.customer-info input[type=tel]:focus {
  outline: none;
  border-bottom: 1px solid #00000066;
}

.button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.button button {
  all: unset;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: #ef7c00;
  padding: 0.5em 1em;
  border-radius: 2em;
  transition: background-color 200ms ease-in-out;
}

.button button:hover, .button button:focus {
  background-color: #dd6b08;
}

.select {
  gap: 2em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

.barvy {
  gap: 2em;
  display: flex;
  justify-content: center;
}

.barva {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.barva input[type=radio]:checked + label {
  opacity: 1;
}

.barva input[type=radio] {
  all: unset;
  cursor: pointer;
  width: 3em;
  height: 3em;
  display: block;
  margin: 1em 0;
  border-radius: 5em;
}

.barva input[type=radio]:checked {
  outline-width: 4px;
  outline-style: solid;
  outline-offset: 3px;
}

.barva input[type=radio]#black {
  background-color: #000;
}

.barva input[type=radio]#black:checked {
  outline-color: #000000;
}

.barva input[type=radio]#blue {
  background-color: blue;
}

.barva input[type=radio]#blue:checked {
  outline-color: blue;
}

.barva input[type=radio]#bordeaux {
  background-color: red;
}

.barva input[type=radio]#bordeaux:checked {
  outline-color: red;
}

.barva label {
  opacity: 0;
  font-weight: 600;
  transition: opacity 200ms ease-in-out;
}

input[type=radio]#gold,
input[type=radio]#silver {
  all: unset;
  width: 1em;
  height: 1em;
  position: relative;
}

input[type=radio]#gold::after,
input[type=radio]#silver::after {
  content: "Aa";
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

input[type=radio]#gold::after {
  color: goldenrod;
}

input[type=radio]#silver::after {
  color: silver;
}

textarea {
  width: 100%;
  min-height: 5em;
  max-height: 15em;
  padding: 0.5em;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}
