@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$black: #000000;
$white: #ffffff;
$gray: #808080;
$blue: #264796;
$orange: #ef7c00;
$orange-hover: #dd6b08;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;

    &::before,
    &::after {
        box-sizing: border-box;
        font-family: "Manrope", sans-serif;
    }
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
}

#logo {
    width: 40%;
    display: block;
    margin: 4em auto 2em auto;

    @media only screen and (min-width: 36em) {
        width: 25%;
    }

    @media only screen and (min-width: 62em) {
        width: 20%;
    }

    @media only screen and (min-width: 75em) {
        width: 15%;
    }
}

#order-form {
    width: 100%;

    .step-content {
        width: 100%;
        display: none;
        padding: 3em;
        border: none;

        &.current {
            display: block;
        }

        &[data-step="1"],
        &[data-step="4"],
        &[data-step="5"] {
            @media only screen and (min-width: 36em) {
                width: 70%;
            }

            @media only screen and (min-width: 62em) {
                width: 45%;
            }

            @media only screen and (min-width: 75em) {
                width: 35%;
            }

            @media only screen and (min-width: 100em) {
                width: 25%;
            }
        }

        &[data-step="2"],
        &[data-step="3"] {
            @media only screen and (min-width: 36em) {
                width: 80%;
            }

            @media only screen and (min-width: 62em) {
                width: 60%;
            }

            @media only screen and (min-width: 75em) {
                width: 50%;
            }

            @media only screen and (min-width: 100em) {
                width: 40%;
            }
        }

        .step-indicator {
            height: 2.5em;
            gap: 0.7em;
            display: inline-flex;
            align-items: center;

            svg {
                width: auto;
                height: 2.5em;
                display: flex;
            }
        }

        @media only screen and (min-width: 36em) {
            margin: 4em auto;
            border-radius: 2em;
            box-shadow: #63636333 0 0.125em 0.5em 0;
        }
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    select,
    textarea {
        outline: 0;
    }
}

h2 {
    text-align: center;
}

.select {
    gap: 2em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;

    select {
        width: 100%;

        option:first-child {
            display: none;
        }
    }
}

.barvy {
    gap: 2em;
    display: flex;
    justify-content: center;
}

.barva-desek {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;

    input[type=radio]:checked+label {
        opacity: 1;
    }

    input[type=radio] {
        all: unset;
        cursor: pointer;
        width: 3em;
        height: 3em;
        display: block;
        margin: 1em 0;
        border-radius: 5em;

        &:checked {
            outline-width: 4px;
            outline-style: solid;
            outline-offset: 3px;
        }

        &#black {
            background-color: $black;

            &:checked {
                outline-color: $black;
            }
        }

        &#blue {
            background-color: #242e48;

            &:checked {
                outline-color: #242e48;
            }
        }

        &#bordeaux {
            background-color: #571f25;

            &:checked {
                outline-color: #571f25;
            }
        }
    }

    label {
        opacity: 0;
        font-weight: 600;
        transition: opacity 200ms ease-in-out;
    }
}

.barva-pisma {
    gap: 0.5em;
    display: grid;
    grid-template-rows: 4.06251em auto;
    grid-template-columns: 1fr;

    input[type=radio]#gold,
    input[type=radio]#silver {
        all: unset;
        cursor: pointer;
        width: 100%;
        height: 4.06251em;
        position: relative;

        &::after {
            content: "Aa";
            width: 1.25em;
            height: 1.35417em;
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Merriweather", serif;
            font-size: 3rem;
        }

        &:checked::after {
            text-decoration: underline;
            text-underline-offset: 0.05em;
        }
    }

    input[type=radio]#gold::after {
        color: goldenrod;
    }

    input[type=radio]#silver::after {
        color: silver;
    }

    label {
        font-weight: 600;
    }
}

textarea {
    width: 100%;
    min-height: 5em;
    max-height: 15em;
    padding: 0.5em;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;

    &::placeholder {
        color: $gray;
    }
}

input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    display: block;
    margin: 1em 0;
    padding: 0.5em 1em;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #00000033;
    border-right: none;
    font-size: 1rem;
    transition: border-bottom 200ms ease-in-out;

    &:focus {
        outline: none;
        border-bottom: 1px solid #00000066;
    }

    &::placeholder {
        color:$gray;
    }
}

textarea {
    resize: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    height: 150px;

    &:focus {
        border: 1px solid #c6c7c7;
    }
}

.buttons {
    width: 100%;
    gap: 1em;
    display: inline-flex;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 2em;

    .btn {
        cursor: pointer;
        display: inline-block;
        padding: 1em;
        border: none;
        border-radius: 5em;
        background-color: $orange;
        transition: background-color 200ms ease-in-out;

        svg {
            width: 2em;
            height: 2em;
            display: block;

            path {
                fill: $white;
            }
        }

        &.alt {
            padding: 0.8125em;
            border: 3px solid $orange;
            background-color: $white;

            svg path {
                fill: $orange;
                transition: fill 200ms ease-in-out;
            }

            &:hover {
                border: 3px solid $orange-hover;

                svg path {
                    fill: $white;
                }
            }
        }

        &:hover {
            background-color: $orange-hover;
        }
    }
}

.result {
    padding: 25px;

    h3 {
        color: #6a737f;
    }

    p {
        font-weight: 500;
    }
}

/*input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ddd;
    filter: invert(0.8);
}

input[type="date"] {
    width: 100%;
    height: 3em;
    margin: 1em 0;
    border: 1px solid #dfe0e0;

    &:focus {
        border: 1px solid #c6c7c7;
    }
}*/